html {
  font-family: sans-serif;
}

svg {
  width: 100%;
  height: 4rem;
  padding: 1rem 0;
}

form fieldset {
  margin: auto;
  width: 80%;
  border: 0;
}

form legend {
  display: block;
  width: 100%;
  padding: .3em 0;
  margin-bottom: .3em;
  text-align: center;
  color: #9499b0;
  border-bottom: 1px solid #ced1e3;
}

form input {
  -webkit-appearance: none;
  padding: 0.6em 0.6em;
  margin: 6px 0;
  width: 100%;
  font-size: 100%;
  display: block;
  border-radius: 5px;
  outline: 0;
  box-sizing: border-box;
}

::placeholder {
  color: #9499b0;
}

form input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

form input:focus:required:invalid {
  border-color: #ff4c79;
}

form input[type='submit'], input[type='button'] {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  color: #f7f9fc;
  border: 0;
  background-color: #4C68FC;
}

form input[type='button'] {
  background-color: #a8adc1;
}

form input[type='submit']:active, input[type='button']:active {
  filter: brightness(90%);
}

form input[type='submit'][disabled], input[type='button'][disabled] {
  opacity: .4;
  cursor: not-allowed;
}

form input[type='text'],
form input[type='password'] {
  color: #676f92;
  border: 1px solid #ced1e3;
  box-shadow: inset 0 1px 3px #e9ebf5;
}

form input[type='text']:focus,
form input[type='password']:focus {
  border-color: #4C68FC;
}

form input[type='text'][disabled],
form input[type='password'][disabled] {
  cursor: not-allowed;
  background-color: #eee;
  color: #aaa;
}